<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company disc</title>
</head>
<body>
    <div style="text-align: center; width: 100%">
        <h1><img width="40px" src="https://cultofthepartyparrot.com/parrots/hd/parrot.gif"/> Company Dashboard <img width="40px" src="https://cultofthepartyparrot.com/parrots/hd/parrot.gif"/></h1>
    </div>
    <div>
        <h2>Upload new file</h2>
        <div>
            <form method="POST" enctype="multipart/form-data" action="/files">
                <table>
                    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                    <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
                </table>
            </form>
        </div>
        <h2>Uploaded Files</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Uploaded time</th>
                <th>Size in KB</th>
                <th>Download</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file.fileName}"></td>
                <td th:text="${file.uploadDate}"></td>
                <td th:text="${file.size / 1024}"></td>
                <td><a th:href="@{/files/{fileId}/{fileName}(fileId=${file.fileId}, fileName=${file.fileName})}">Download</a></td>
                <td><span th:each="tag : ${file.tags}" th:text="${tag}"></span> </td>
            </tr>
            </tbody>
        </table>
    </div>
<div>
    <h2>Wall</h2>
    <form action="#" th:action="@{/tweets}" th:object="${tweet}" method="post">
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>Message: <input type="text" th:field="*{body}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <table>
        <tbody>
        <tr th:each="tweet : ${tweets}">
            <td th:text="${tweet.title}"></td>
            <td th:text="${tweet.body}"></td>
        </tbody>
    </table>
</div>
</body>
</html>